@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

.data-table {
  margin: 0 auto;
  width: 500px;
  border: 1px solid gray;
  color: #fff;
}

.data-table__th {
  border: 1px solid gray;
}

.data-table__td {
  border: 1px solid gray;
  text-align: center;
  padding: 5px;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.form-control__label {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  margin: 20px 0 10px 0;
  text-align: left;
}

.form-control__input-group {
  display: flex;
  flex-direction: column;
}

.form-control__btn {
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 200px;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
}

.form-control__input {
  background: transparent;
  color: #fff;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  border: none;
  border-bottom: 1px solid gray;
  padding: 5px 0 10px 0;
}

.form-control__input::placeholder {
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 100;
}

.data-table__btn {
  border: none;
  background: #000;
  cursor: pointer;
}

.data-table__btn .material-symbols-outlined {
  color: red;
}
